/* Write your custom CSS here */

.color-item {
    text-align: center;
    padding: 15px
}

.color-item span {
    font-weight: 700;
    font-size: 12px
}

.quiztitle {
    margin-top: 0;
    font-size: 22px;
    font-weight: 300;
    color: rgba(0, 0, 0, .6);
}

.questionimage img {
    border-radius: 5px;
    opacity: 0.9;
}
form .checkbox {
    padding-left: 25px !important;
}

.display_none {
    display: none;
}

.questiontab {
    width: 50px;
    height: 50px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    background-color: #f7f7f7;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 13px 0px 0px 19px;
}

.questiontab.falseanswer {
    background-color: #ffdcdc !important;
    border: 1.5px solid #ff7676 !important;
}

.timer {
    float: right;
}

.page-sidebar {
    box-shadow: 10px 0px 60px 0px #00000033;
}

body:not(.page-sidebar-visible) .page-sidebar {
        box-shadow: none !important;
}


.panel-heading-col {
    padding: 0;
}

#chart-container {
    text-align: center;
}

.noresults {
        padding: 20px 0 0px 0;
}

.noresults p {
    color: #a0a0a0;
}

.logo_dash {
    width: 30px;
    margin: -4px 5px 0px -1px;
}
